#logo{
    width: 10%;
    margin-top: 2%;
    margin-left: 0.2%;
    margin-bottom: 0.2%;
}
header{
    background-image: url(../img/pattern.png);
    background-color:#4ea0ff;
    background-size: 20%;
}
body{
    margin: 0px;

}
main{
    margin:0px 10px;
}
footer{
    margin:0px 10px;
}
.h1-title{
    margin-bottom: 0px;
    font-size: 2em;
}
.subtext{
    color:gray ;
}
.marked.subtext{
    color: #24aae5;
}
#date{
    font-size: 0.65em;
}
section{
    margin-bottom: 13px;
}
figcaption{
    font-size: 0.75em;
}
.highlighted{
    background-color:#ffff00;
}
.list{
    padding: 1em;
}